<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="h-100">
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css">
  <link rel="stylesheet" th:href="@{css/tabstyle.css}">
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body class="d-flex flex-column h-100">
<div th:replace="~{fragments/navigation :: navigation}"></div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<h1 class="h3 mb-3 font-weight-normal">Products Insert</h1>
<label for="inputprodname" class="sr-only">ProductName</label>
<input type="prodname" id="prodname" name="prodname" class="form-control" placeholder="ProductName" required>
<label for="inputprodsupplierid" class="sr-only">SupplierID</label>
<input type="prodsupplierid" id="prodsupplierid" name="prodsupplierid" class="form-control" placeholder="SupplierID" required>
<label for="inputprodcatid" class="sr-only">CategoryID</label>
<input type="prodcatid" id="prodcatid" name="prodcatid" class="form-control" placeholder="CategoryID" required>
<label for="inputprodunitprice" class="sr-only">Unit Price</label>
<input type="produnitprice" id="produnitprice" name="produnitprice" class="form-control" placeholder="Unit Price" required>
<label for="inputprodquantityperunit" class="sr-only">Quantity Per Unit</label>
<input type="prodquantityperunit" id="prodquantityperunit" name="prodquantityperunit" class="form-control" placeholder="Quantity Per Unit" required>
<label for="inputprodunitsinstock" class="sr-only">Units In Stock</label>
<input type="produnitsinstock" id="produnitsinstock" name="produnitsinstock" class="form-control" placeholder="Units In Stock" required>
<label for="inputproddiscountpercent" class="sr-only">Discount Percent</label>
<input type="proddiscountpercent" id="proddiscountpercent" name="proddiscountpercent" class="form-control" placeholder="Discount Percent" required>
<label for="inputprodstatus" class="sr-only">Product Status</label>
<input type="prodstatus" id="prodstatus" name="prodstatus" class="form-control" placeholder="Product Status" required>
<button class="btn btn-lg btn-primary btn-block" type="submit">Insert</button>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>